<!DOCTYPE HTML>
<html>
  <head>
    <title>Cocoon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="particles-js"></div>
    <div class="container">
      <nav class='navbar navbar-default navbar-inverse'>
        <div class='container-fluid'>
          <a class='navbar-brand' href='/'>Cocoon</a>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class='nav navbar-nav'>
              <li><a href='/home'>Files</a></li>
              <li><a href='/upload'>Upload</a></li>
              <li><a href='/logout'>Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <p>{{ message }}</p>
      <h1>Your Files</h1>

      {{#each files}}
        <li><a href='/file/{{this}}'>{{this}}</a></li>
      {{/each}}
    </div>
    <script src="/js/particles.min.js"></script>
    <script src="/js/setup.js"></script>
  </body>
</html>
