<!DOCTYPE HTML>
<html>
  <head>
    <title>WELCOME TO THE JUNGLE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <p>TODO build this app</p>
  </body>
</html>
