<!DOCTYPE HTML>
<html>
  <title>
  </title>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <div id='inline_login'>
      <p><strong>Login</strong></p>
      <div id='login-message'></div>
      <div>Username: <input type='text' placeholder='Username' class='login-username' name='username' required /></div>
      <div>Password: <input type='password' placeholder='Password' class='login-password' name='password' required /></div>
      <button type='submit' class='login-submit'>Login</button>
    </div>

    <div id='inline_register'>
    <p><strong>Register</strong></p>
      <form method="post" action="/register">
        <div>Username: <input type='text' placeholder='Username' class='username' name='username' required /></div>
        <div>Password: <input type='password' placeholder='Password' class='password' name='password' required /></div>
        <div>Confirm Password: <input type='password' placeholder='Confirm Password' class='confirm-password' name='confirm_password' required /></div>
        <button type='submit' class='register-submit'>Register</button>
      </form>
    </div>
  </body>
</html>
