<!DOCTYPE HTML>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <a class='navbar-brand' href='/home'>APP NAME</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class='nav navbar-nav'>
            <li><a href='/index'>Back</a></li>
          </ul> 
        </div>
      </div>
    </nav>

    <div id='inline_register'>
    <p><strong>Register</strong></p>
      <form method="post" action="/register">
        <div>Username: <input type='text' placeholder='Username' class='username' name='username' required /></div>
        <div>Password: <input type='password' placeholder='Password' class='password' name='password' required /></div>
        <div>Confirm Password: <input type='password' placeholder='Confirm Password' class='confirm-password' name='confirm_password' required /></div>
        <button type='submit' class='register-submit'>Register</button>
      </form>
    </div>
  </body>
</html>
